
.progressbarWrapper {
    height: 30px;
    width: 500px;
    max-width: 80%;
    display: block;
    margin: auto;
    margin-top: 20vh;
    position: relative;
    background: #555;
    padding: 3px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

#greenBar {
    display: block;
    height: 100%;
    width: 0px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(center bottom,
            rgb(43, 194, 83) 37%,
            rgb(84, 240, 84) 69%);
    position: relative;
    overflow: hidden;
    font-size: 15px;
    text-align: center;
    color: white;
    transition: all 700ms ease;
}

button {
    display: block;
    background-color: #9187F2;
    margin: auto;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: black 4px 4px 0 0;
    padding: 3px 18px;
    cursor: pointer;
    line-height: 50px;
    font-weight: 600;
    font-size: 18px;
}


button:hover {
    background-color: #E1DEE9;
}

button:active {
    box-shadow: black 2px 2px 0 0;
    transform: translate(2px, 2px);
}