/* body {
    background-color: white;
}

h1 {
    color: black;
}

.button {
    background-color: red;
    border: 0px solid black;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 3px 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

}


.button:focus {
    outline-width: 0;
}

.button-primary:hover {
    background-color: #2641d4;
    border: 0px solid #1b1f2b;
}

.button-primary-active {
    background-color: white;
    border: 0px solid #152684;
    color: white;
    width: 20%;
}

.button-primary-inactive {
    background-color: white;
    border: 0px solid #152684;
    color: black;
    width: 20%;
} */